body, html{
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
}
.container{
    position: static;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
}
.murriMenuImg{
    position: absolute;
    right: 0;
    top: 10vh;
    height: 80vw;
    z-index: -2;
}
.backgroundColor{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: -3;
}

.backgroundFilter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: 
      repeating-radial-gradient(#000 0 0.0001%,#161616 0 0.0002%) 50% 0/4000px 4000px,
      repeating-conic-gradient(#000 0 0.0001%,#161616 0 0.0002%) 60% 60%/4000px 4000px;
    background-blend-mode: difference;
    animation: b .2s infinite alternate;
    opacity: 0.95;
    z-index: -1;
}
@keyframes b{
    100% {background-position: 50% 0, 60% 50%}
}